@CHARSET "ISO-8859-1";

.variantWorld10 .country0 { color: #CE7800 ! important; } /* Neutral */
.variantWorld10 .country1 { color: #CC0205 ! important; } /* Argentina */
.variantWorld10 .country2 { color: #A4C499 ! important; } /* Brazil */
.variantWorld10 .country3 { color: #FC02FC ! important; } /* China */
.variantWorld10 .country4 { color: #0482FC ! important; } /* EU */
.variantWorld10 .country5 { color: #5A60AD ! important; } /* Frozen */
.variantWorld10 .country6 { color: #CC6A68 ! important; } /* Ghana */
.variantWorld10 .country7 { color: #EBC43A ! important; } /* India */
.variantWorld10 .country8 { color: #A08A75 ! important; } /* Japan */
.variantWorld10 .country9 { color: #840284 ! important; } /* Egypt */
.variantWorld10 .country10 { color: #625EE4 ! important; } /* Near East */
.variantWorld10 .country11 { color: #007A7C ! important; } /* Siberia */
.variantWorld10 .country12 { color: #B7600A ! important; } /* Quebec */
.variantWorld10 .country13 { color: #000000 ! important; } /* Russia */
.variantWorld10 .country14 { color: #048284 ! important; } /* South Africa */
.variantWorld10 .country15 { color: #C32368 ! important; } /* USA */
.variantWorld10 .country16 { color: #B1B300 ! important; } /* Canada */
.variantWorld10 .country17 { color: #666666 ! important; } /* Australia */

.variantWorld10 .occupationBar1 { background-color: #C48F85; } /* Argentina */
.variantWorld10 .occupationBar2 { background-color: #A4C499; } /* Brazil */
.variantWorld10 .occupationBar3 { background-color: #FC02FC; } /* China */
.variantWorld10 .occupationBar4 { background-color: #0482FC; } /* EU */
.variantWorld10 .occupationBar5 { background-color: #5A60AD; } /* Frozen */
.variantWorld10 .occupationBar6 { background-color: #FC8284; } /* Ghana */
.variantWorld10 .occupationBar7 { background-color: #EBC43A; } /* India */
.variantWorld10 .occupationBar8 { background-color: #A08A75; } /* Japan */
.variantWorld10 .occupationBar9 { background-color: #A87E9F; } /* Egypt */
.variantWorld10 .occupationBar10 { background-color: #C4C2FC; } /* Near East */
.variantWorld10 .occupationBar11 { background-color: #007A7C; } /* Siberia */
.variantWorld10 .occupationBar12 { background-color: #B7600A; } /* Quebec */
.variantWorld10 .occupationBar13 { background-color: #000000; } /* Russia */
.variantWorld10 .occupationBar14 { background-color: #048284; } /* South Africa */
.variantWorld10 .occupationBar15 { background-color: #C32368; } /* USA */
.variantWorld10 .occupationBar16 { background-color: #DCDE04; } /* Canada */
.variantWorld10 .occupationBar17 { background-color: #6A6868; } /* Australia */
