/config.php
/config_*.php
/cache
/logfiles
/datc/maps/*.map*
/css_lab
/variants/*/cache/*
!.htaccess
*.zip
*.gz
*.tgz
*.tbz
*.bz2
/cache/
/mapstore/
/doc/phpDoc/
pointslog.txt
pointlog.txt
/.settings/
/.buildpath
/.project
/datc/maps/
!.htaccess
ghostRatingData.*
gr.php
/variants/*/install-save*
Thumbs.db
/piwik
/nbproject
/msg*.html