@CHARSET "ISO-8859-1";

.variantSpiceIslands .country0 { color: #000000 ! important; } /* Neutral */
.variantSpiceIslands .country1 { color: #4F5154 ! important; } /* Brunei */
.variantSpiceIslands .country2 { color: #3A368A ! important; } /* Majapahit */
.variantSpiceIslands .country3 { color: #917214 ! important; } /* Tondo */
.variantSpiceIslands .country4 { color: #30972E ! important; } /* Malacca */
.variantSpiceIslands .country5 { color: #FE382F ! important; } /* Ayutthaya */
.variantSpiceIslands .country6 { color: #774677 ! important; } /* Ternate */
.variantSpiceIslands .country7 { color: #9E9E01 ! important; } /* Dai Viet */

.variantSpiceIslands .occupationBar1 { background-color: #C2C5CE; } /* Brunei */
.variantSpiceIslands .occupationBar2 { background-color: #5956FF; } /* Majapahit */
.variantSpiceIslands .occupationBar3 { background-color: #B59019; } /* Tondo */
.variantSpiceIslands .occupationBar4 { background-color: #30972E; } /* Malacca */
.variantSpiceIslands .occupationBar5 { background-color: #FE382F; } /* Ayutthaya */
.variantSpiceIslands .occupationBar6 { background-color: #AC65AB; } /* Ternate */
.variantSpiceIslands .occupationBar7 { background-color: #FBFF3A; } /* Dai Viet */
