@CHARSET "ISO-8859-1";

.variantEdwardian .country0 { color: #000000 ! important; } /* Neutral */
.variantEdwardian .country1 { color: #910000 ! important; } /* Austria-Hungary */
.variantEdwardian .country2 { color: #C44E4E ! important; } /* Britain */
.variantEdwardian .country3 { color: #00798E ! important; } /* France */
.variantEdwardian .country4 { color: #111110 ! important; } /* Germany */
.variantEdwardian .country5 { color: #277000 ! important; } /* Italy */
.variantEdwardian .country6 { color: #606060 ! important; } /* Russia */
.variantEdwardian .country7 { color: #9E4F00 ! important; } /* Turkey */

.variantEdwardian .occupationBar1 { background-color: #CC3F3D; } /* Austria-Hungary */
.variantEdwardian .occupationBar2 { background-color: #FF9999; } /* Britain */
.variantEdwardian .occupationBar3 { background-color: #9BEEFF; } /* France */
.variantEdwardian .occupationBar4 { background-color: #8C8C8C; } /* Germany */
.variantEdwardian .occupationBar5 { background-color: #75CC47; } /* Italy */
.variantEdwardian .occupationBar6 { background-color: #FFF5E7; } /* Russia */
.variantEdwardian .occupationBar7 { background-color: #C9935C; } /* Turkey */
