@CHARSET "ISO-8859-1";

.variantWesternWorld_901 .country0 { color: #AA9F55 ! important; } /* Global  */
.variantWesternWorld_901 .country1 { color: #358F48 ! important; } /* Arabia */
.variantWesternWorld_901 .country2 { color: #A85452 ! important; } /* Byzantium   */
.variantWesternWorld_901 .country3 { color: #DE5B5B ! important; } /* Denmark */
.variantWesternWorld_901 .country4 { color: #B8AD00 ! important; } /* Egypt  */
.variantWesternWorld_901 .country5 { color: #0656A8 ! important; } /* France  */
.variantWesternWorld_901 .country6 { color: #111111 ! important; } /* Germany  */
.variantWesternWorld_901 .country7 { color: #00CCC8 ! important; } /* Khazaria */
.variantWesternWorld_901 .country8 { color: #048284 ! important; } /* Rus */
.variantWesternWorld_901 .country9 { color: #04CC4B ! important; } /* Spain */

.variantWesternWorld_901 .occupationBar1 { background-color: #64805A; } /* Arabia */
.variantWesternWorld_901 .occupationBar2 { background-color: #A85452; } /* Byzantium   */
.variantWesternWorld_901 .occupationBar3 { background-color: #DE5B5B; } /* Denmark */
.variantWesternWorld_901 .occupationBar4 { background-color: #EBD984; } /* Egypt  */
.variantWesternWorld_901 .occupationBar5 { background-color: #0656A8; } /* France  */
.variantWesternWorld_901 .occupationBar6 { background-color: #333333; } /* Germany  */
.variantWesternWorld_901 .occupationBar7 { background-color: #00FFFF; } /* Khazaria */
.variantWesternWorld_901 .occupationBar8 { background-color: #048284; } /* Rus */
.variantWesternWorld_901 .occupationBar9 { background-color: #8CBA1C; } /* Spain */


