@CHARSET "ISO-8859-1";

.variantCrusades1201 .country0 { color: #000000 ! important; } /* Neutral */
.variantCrusades1201 .country1 { color: #A5A500 ! important; } /* Castille */
.variantCrusades1201 .country2 { color: #A54C26 ! important; } /* Almohad Caliphate */
.variantCrusades1201 .country3 { color: #C10000 ! important; } /* England */
.variantCrusades1201 .country4 { color: #0000A0 ! important; } /* France */
.variantCrusades1201 .country5 { color: #444444 ! important; } /* Holy Roman Empire */
.variantCrusades1201 .country6 { color: #AF00AF ! important; } /* Denmark */
.variantCrusades1201 .country7 { color: #600060 ! important; } /* Papacy */
.variantCrusades1201 .country8 { color: #007F3B ! important; } /* Hungary */
.variantCrusades1201 .country9 { color: #353500 ! important; } /* Rus */
.variantCrusades1201 .country10 { color: #008282 ! important; } /* Byzantine Empire */
.variantCrusades1201 .country11 { color: #8E8A00 ! important; } /* Ayyubid Sultanate */

.variantCrusades1201 .occupationBar1 { background-color: #ECD900; } /* Castille */
.variantCrusades1201 .occupationBar2 { background-color: #FF7B39; } /* Almohad Caliphate */
.variantCrusades1201 .occupationBar3 { background-color: #F92F2F; } /* England */
.variantCrusades1201 .occupationBar4 { background-color: #2B4BFF; } /* France */
.variantCrusades1201 .occupationBar5 { background-color: #BDBDBD; } /* Holy Roman Empire */
.variantCrusades1201 .occupationBar6 { background-color: #FF51FF; } /* Denmark */
.variantCrusades1201 .occupationBar7 { background-color: #872987; } /* Papacy */
.variantCrusades1201 .occupationBar8 { background-color: #26FF8B; } /* Hungary */
.variantCrusades1201 .occupationBar9 { background-color: #BDBD00; } /* Rus */
.variantCrusades1201 .occupationBar10 { background-color: #00C4C4; } /* Byzantine Empire */
.variantCrusades1201 .occupationBar11 { background-color: #FFEB70; } /* Ayyubid Sultanate */
