@CHARSET "ISO-8859-1";

.variantCanton .country0 { color: #CE7800 ! important; } /* Neutral */
.variantCanton .country1 { color: #003F7D ! important; } /* Britain */
.variantCanton .country2 { color: #C48F00 ! important; } /* China */
.variantCanton .country3 { color: #466A7A ! important; } /* France */
.variantCanton .country4 { color: #52631C ! important; } /* Holland */
.variantCanton .country5 { color: #961926 ! important; } /* Japan */
.variantCanton .country6 { color: #3B3F3C ! important; } /* Russia */
.variantCanton .country7 { color: #BC6400 ! important; } /* Turkey */

.variantCanton .occupationBar1 { color: #007FFF ! important; } /* Britain */
.variantCanton .occupationBar2 { color: #FFBF00 ! important; } /* China */
.variantCanton .occupationBar3 { color: #89CFF0 ! important; } /* France */
.variantCanton .occupationBar4 { color: #A4C639 ! important; } /* Holland */
.variantCanton .occupationBar5 { color: #E32636 ! important; } /* Japan */
.variantCanton .occupationBar6 { color: #B2BEB5 ! important; } /* Russia */
.variantCanton .occupationBar7 { color: #FF8C00 ! important; } /* Turkey */
