@CHARSET "ISO-8859-1";

.variantBaron1900 .country0 { color: #D2B48C ! important; } /* Global            */
.variantBaron1900 .country1 { color: #EDBC29 ! important; } /* Austria-Hungary   */
.variantBaron1900 .country2 { color: #00247D ! important; } /* Britain           */
.variantBaron1900 .country3 { color: #0380B8 ! important; } /* France            */
.variantBaron1900 .country4 { color: #202020 ! important; } /* Germany           */
.variantBaron1900 .country5 { color: #00a650 ! important; } /* Italy             */
.variantBaron1900 .country6 { color: #507150 ! important; } /* Russia            */
.variantBaron1900 .country7 { color: #E30A17 ! important; } /* Turkey            */

.variantBaron1900 .occupationBar1 { background-color: #EDBC29; } /* Austria-Hungary   */
.variantBaron1900 .occupationBar2 { background-color: #00247D; } /* Britain           */
.variantBaron1900 .occupationBar3 { background-color: #0380B8; } /* France            */
.variantBaron1900 .occupationBar4 { background-color: #202020; } /* Germany           */
.variantBaron1900 .occupationBar5 { background-color: #00a650; } /* Italy             */
.variantBaron1900 .occupationBar6 { background-color: #507150; } /* Russia            */
.variantBaron1900 .occupationBar7 { background-color: #E30A17; } /* Turkey            */
